.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  font-weight: 500;
  z-index: 2;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  z-index: 2;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-style: italic;
  font-family: "Noto Serif", serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  z-index: 2;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
  right: 80px;
  bottom: 40px;
  color: #838383;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  z-index: 2;
}
